body {
    background-color: lightblue;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

button {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
a {
    font-size: 20px;
}
nav {
    background-color: black;
    padding: 15px;
}

nav a {
    color: lightgreen;
    text-decoration: none;
    font-size: 22px;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    color: red;
}
